<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="well well-sm">
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="destinataires">Destinataire(s)</label>
                <input class="form-control bootstrap-tagsinput" data-role="tagsinput" id="destinataires">
              </div>
              <div class="form-group">
                <label for="programmer">Programmation envoi SMS</label>
                <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                </span>
                  <input type="datetime-local" class="form-control" id="programmer" placeholder="Choisir date et heure" /></div>
              </div>
              <div class="form-group">
                <label for="template">
                  Template SMS</label>
                <select id="template" name="template" class="form-control" required="required">
                  <option value="na" selected="">Choisir :</option>
                  <option value="birthday">Joyeux anniversaire</option>
                  <option value="congrats">En retard</option>
                  <option value="lowEnergy">Batterie faible</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="message">
                  Message</label>
                <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                          placeholder="Message" [(ngModel)]="message" (keyup)="onKeyUp($event)"></textarea>
              </div>
            </div>
            <div class="col-md-6 pull-right">
              <button class="btn btn-default" id="btnAnnuler">Annuler</button>
              <button type="submit" class="btn btn-primary" id="btnEnvoyerSMS">Envoyer</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <form>
          <legend>Caractères </legend>
          <div>Total : {{totalChar}}</div>
          <div>Nombre de SMS : {{nbSMS}}</div>
        </form>
      </div>
      <br><br>
      <div class="row">
        <form>
          <legend><span class="glyphicon glyphicon-hourglass"></span> Etat de votre pack SMS</legend>
          <div>
            Il vous reste : 1 SMS
          </div>
          <br/>
          <div>
            <strong>------------------------------------------------</strong><br>
            <a href="#">Acheter un pack SMS</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
