<div class="panel panel-primary mat-elevation-z8">
  <div class="panel-heading">Mon carnet d'adresses</div>
  <div class="panel-body">

    <div class="alert alert-success" *ngIf="success">
      {{message}}
    </div>
    <div class="alert alert-danger" *ngIf="failure">
      {{message}}
    </div>

    <div class="table-actions" >
      <button class="btn btn-primary"
              data-toggle="modal"
              data-target="#contactAddModal">Ajouter</button>
      <button class="btn btn-danger"
              [disabled]="selection.selected.length === 0"
              data-toggle="modal"
              data-target="#confirmation">
        Supprimer sélection
      </button>
      <button class="btn btn-default">Ajouter au(x) groupe(s)...</button>
    </div>

    <div class="table-filter" >
      <mat-form-field class="col-sm-12">
        <input matInput matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrer">
      </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort>
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header="id"> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>

      <!-- LastName Column -->
      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header="lastName"> Nom </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
      </ng-container>

      <!-- LastName Column -->
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
      </ng-container>

      <!-- Tel Column -->
      <ng-container matColumnDef="phoneNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Téléphone </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.phoneNumber}} </mat-cell>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
      </ng-container>

      <!-- Category Column -->
      <ng-container matColumnDef="categories">
        <mat-header-cell *matHeaderCellDef>
          <mat-form-field>
            <mat-select placeholder="Catégories" [formControl]="categoryFormControl" multiple>
              <mat-option *ngFor="let category of avalaibleCategories" [value]="category.id">
                {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> - </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>

    </mat-table>

    <mat-paginator #paginator
                   [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
  </div>
</div>

<!-- Popup update contact : refactor this in his own component-->
<div class="modal fade" tabindex="-1" role="dialog" id="contactUpdateModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Mettre à jour le contact : {{selectedContact.firstName}}</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="lastNameToUpdate" class="control-label">Nom : </label>
            <input type="text" class="form-control" id="lastNameToUpdate" value="{{selectedContact.lastName}}">
          </div>
          <div class="form-group">
            <label for="firstNameToUpdate" class="control-label">Prénom : </label>
            <input type="text" class="form-control" id="firstNameToUpdate" value="{{selectedContact.firstName}}">
          </div>
          <div class="form-group">
            <label for="phoneNumberToUpdate" class="control-label">Téléphone : </label>
            <input type="number" class="form-control" id="phoneNumberToUpdate" value="{{selectedContact.phoneNumber}}">
          </div>
          <div class="form-group">
            <label for="emailToUpdate" class="control-label">Email : </label>
            <input type="text" class="form-control" id="emailToUpdate" value="{{selectedContact.email}}">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary">Enregistrer</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Popup add contact : refactor this in his own component-->
<div class="modal fade" tabindex="-1" role="dialog" id="contactAddModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Nouveau contact</h4>
      </div>
      <form name="form" role="form" #contactAddForm="ngForm">
        <div class="modal-body">
            <div class="form-group">
              <label for="lastName" class="control-label">Nom : </label>
              <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="newContact.lastName">
            </div>
            <div class="form-group">
              <label for="firstName" class="control-label">Prénom : </label>
              <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="newContact.firstName" required>
            </div>
            <div class="form-group">
              <label for="phoneNumber" class="control-label">Téléphone : </label>
              <input type="number" class="form-control" id="phoneNumber" name="phoneNumber" [(ngModel)]="newContact.phoneNumber" required>
            </div>
            <div class="form-group">
              <label for="email" class="control-label">Email : </label>
              <input type="text" class="form-control" id="email" name="email" [(ngModel)]="newContact.email">
            </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" (click)="addContact()"
                [disabled]="contactAddForm.form.invalid" data-dismiss="modal">Ajouter</button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" tabindex="-1" role="dialog" id="confirmation">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirmation suppression</h4>
      </div>
      <div class="modal-body">
        <p>Etes-vous sûr de vouloir supprimer le(s) contact(s) sélectionné(s) ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
        <button type="button" class="btn btn-primary" (click)="deleteSelection()">Oui</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
